<div class="content">
  <h1>Bestill Avtale</h1>
  <mat-divider></mat-divider>

  <div class="container">
    <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step>
        <ng-template matStepLabel>{{serviceStepName}}</ng-template>
        <app-service-selector [services]="services"
                              (selectedService)="setSelectedService($event); goForward(stepper)"></app-service-selector>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{dateStepName}}</ng-template>
        <app-date-time-selector *ngIf="selectedService"
        [selectedService]="selectedService"
        (dateSelectedEvent)="setSelectedDate($event); goForward(stepper)"></app-date-time-selector>
        <div>
          <button mat-button matStepperPrevious>Tilbake</button>
          <button mat-button matStepperNext>Neste</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Kontaktinformasjon</ng-template>
        <app-contact-info [contactInfo]="contactInfo"></app-contact-info>
        <div>
          <button mat-button matStepperPrevious>Tilbake</button>
          <button mat-button (click)="goForward(stepper)">Neste</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Bekreftelse</ng-template>
        <app-order-receipt
          [selectedDate]="selectedDate"
          [selectedService]="selectedService"
          [contactInfo]="contactInfo"></app-order-receipt>
        <div>
          <button mat-button matStepperPrevious>Tilbake</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
