<div class="content">
  <h1>Bestill Avtale</h1>
  <mat-divider></mat-divider>

  <div class="container">
    <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step>
        <ng-template matStepLabel>Velg tjeneste</ng-template>
        <app-service-selector [services]="services"></app-service-selector>
        <button mat-button matStepperNext>Neste</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Velg tid</ng-template>
        <app-date-time-selector></app-date-time-selector>
        <div>
          <button mat-button matStepperPrevious>Tilbake</button>
          <button mat-button matStepperNext>Neste</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Kontaktinformasjon</ng-template>
        <app-contact-info></app-contact-info>
        <div>
          <button mat-button matStepperPrevious>Tilbake</button>
          <button mat-button matStepperNext>Neste</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Bekreftelse</ng-template>
        <app-order-receipt></app-order-receipt>
        <div>
          <button mat-button matStepperPrevious>Tilbake</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
