<mat-toolbar style="background-color: #85B3D1FF; height: 100px;">
  <div style="display:flex; justify-content: baseline; align-items: center">

    <img height="60" src="https://cdn0.iconfinder.com/data/icons/vehicle/500/108-512.png" style="margin-right: 5px"/>
    <span [routerLink]="['/home']" style="cursor: pointer; font-size: 40px; color: black; font-weight: 600;">Skude Bilpleie</span>
    <span style="justify-self: end;">
      <button *ngIf="isAdmin" color="accent" style="font-size: 16px" mat-button [routerLink]="['admin']">Admin Oversikt</button>
      <button *ngIf="isAdmin" color="accent" style="font-size: 16px" mat-button (click)="logout()">Logg ut</button>
    </span>
  </div>
</mat-toolbar>
<div class="container">
  
<div class="schedueler">
  <h1>Bestill Avtale</h1>
  <div style="padding-bottom: 10px; max-width: 550px; color: rgba(0,0,0,0.7)">
    Vi tilbyr ferdige pakker med fastsatt pris for å gjøre det lett for deg å forutsi kostnad og tid. 
    Finn den pakken som passer for deg og din bil og bestill en avtale på 1-2-3.
  </div>
  <mat-divider style="margin: 5px; padding: 10px;"></mat-divider>

  <div class="container">
    <mat-vertical-stepper class="stepper" [linear]="true" #stepper>
      <mat-step>
        <ng-template matStepLabel>{{serviceStepName}}</ng-template>
        <app-service-selector [services]="services"
                              (selectedService)="setSelectedService($event); goForward(stepper)"
                              [serviceSelected]="selectedService"></app-service-selector>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{dateStepName}}</ng-template>
        <app-date-time-selector *ngIf="selectedService"
        [selectedService]="selectedService"
        (dateSelectedEvent)="setSelectedDate($event); goForward(stepper)"></app-date-time-selector>
        <div>
          <button mat-button matStepperPrevious>Tilbake</button>
          <button mat-button matStepperNext>Neste</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Kontaktinformasjon</ng-template>
        <app-contact-info [contactInfo]="contactInfo"></app-contact-info>
        <div>
          <button mat-button matStepperPrevious>Tilbake</button>
          <button mat-button (click)="goForward(stepper)">Neste</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Bekreftelse</ng-template>
        <app-order-receipt
          [selectedDate]="selectedDate"
          [selectedService]="selectedService"
          [contactInfo]="contactInfo"></app-order-receipt>
          <div *ngIf="appointmentCreated" style="display: flex; align-items: center">
            <span><mat-icon style="color: green; font-size: 50px; width: 50px">done</mat-icon></span>
            <span>Bestillingen din er gjennomført</span>
            <a style="margin-right: 10px" [routerLink]="['home']">Gå tilbake til fremsiden</a>
          </div>
        <div *ngIf="!appointmentCreated">
          <button mat-button matStepperPrevious>Tilbake</button>
          <button mat-button (click)="postAppointment()">Gjennomfør bestilling</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>

<div class="about-us">
  <app-about-us></app-about-us>
</div>
</div>