<div [class]="showImage ? '' : 'item ' + (isSelected ? 'highlight' : '')">

  <mat-card>
    <img *ngIf="showImage" height="350" mat-card-image [src]="service.img || 'https://firebasestorage.googleapis.com/v0/b/skude-bilpleie.appspot.com/o/adult-auto-automobile-401796.jpg?alt=media&token=87b59540-5885-463b-842c-cff6cb5afaf6'"
    />
    <mat-card-title>
      {{service.name}}
    </mat-card-title>
    <mat-card-subtitle>NOK {{service.price}},-</mat-card-subtitle>
    <mat-card-subtitle>Omtrent {{service.durationMin}} minutter</mat-card-subtitle>
    <mat-card-content>
      <p class="information">
        {{service.description}} 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button class="order-button" *ngIf="showOrderButton" mat-button [routerLink]="['/avtale', service.name]">Bestill avtale</button>
    </mat-card-actions>
  </mat-card>
</div>